* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  margin: auto;
}

section{
  width: 200px;
  height: 200px;
  border: 4px solid black;
  box-shadow: 10px 10px 10px black;
  text-align: center;
  padding: 80px 0;
  border-radius: 10px;
  transition: 2s all ease;
}

label{
  padding-top: 15px;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  padding: 10px;
  margin: 10px 0;
  box-shadow: 10px 10px 10px black;
  border-radius: 10px;
}

input:focus{
  outline: none;
}

button{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  box-shadow: 10px 10px 10px black;
}
